<h1>{{title2}}</h1>
<h2>HTML5 está equipado con elementos básicos que se
     encontraban en sus versiones anteriores. 
     Sin embargo, también contiene nuevas propiedades
      que aportan 
    un sinfín de oportunidades en diseño y desarrollo.</h2>

<h3><b>CARACTERISTICAS:
    los beneficios que HTML5 ofrece para la creación sitios y aplicaciones Web:<br>
<br>
    1. Incorporación de video.
    
    Los videos, se han convertido en parte esencial de varios sitios Web. Esto se debe, principalmente, a su gran poder de atracción visual. Los diseñadores han sabido implementarlos de diversas formas, para así darle dinamismo a un sitio Web. HTML5 proporciona un estándar para mostrar videos, haciendo que su incorporación sea sencilla y popular.
    <br>
    <br>
    2. Experiencia de usuario.
    
    Gracias a que HTML5 ofrece una gran variedad de herramientas, se pueden diseñar y presentar sitios y aplicaciones Web que superen las expectativas de los usuarios. Consecuentemente, aumentando las visitas y proporcionando una buena experiencia.
</b></h3>