<h1>{{title}}</h1>
<h2>CSS (en inglés Cascading Style Sheets) es lo que se 
denomina lenguaje de hojas de estilo en cascada y se usa para estilizar elementos escritos en un lenguaje de marcado como HTML. CSS separa
el contenido de la representación visual del sitio.</h2>

<h3><b>CARACTERISTICAS:
    La diferencia entre un sitio web que implementa CSS y uno que no, es enorme y definitivamente se nota.

    Quizás hayas visto algún sitio web que no se puede cargar por completo y tiene un fondo blanco con la mayor parte del texto en azul y negro. 
    
    Así es como se ve un sitio con solo HTML, y creo que estarás de acuerdo conmigo en que no luce muy bien.
    
    Antes de CSS, todo el estilo debía incluirse en el marcado HTML.
</b></h3>
