h1{
    color:rgb(242, 241, 247)
}
h2{
    color:rgb(73, 90, 161)
}
h3{
    color: rgb(155, 136, 240);
}

 
  style{
      background-color:rgb(133, 116, 228)}
      
h1{
background-color:rgb(64, 23, 247);
}