<h1>{{title3}}</h1>
<h3>es usado para desarrollar aplicaciones JavaScript que se ejecutarán en el lado del cliente o del servidor, o extensiones para programas (Node. js y Deno). TypeScript extiende la sintaxis de JavaScript, por tanto cualquier código JavaScript existente debería funcionar sin problemas.    </h3>
<br>
<h3><b>CARACTERISTICAS:<br>
Escalabilidad del código en un “Interface oriented development”
Te ayuda con equipos en crecimiento

Types ha demostrado promover la cualidad del código y entendibilidad. Equipos grandes como (Google, Microsoft, Facebook) también han descubierto el valor que aporta Typescript.<br>
Incrementa tu agilidad en el refactoring del código. Es mejor que el compilador encuentre errores que cometerlos en el “runtime”.<br>
Types es uno de los mejores métodos de documentación que hay en este momento. La función signature es un teorema y la función body es la prueba.<br>
<br>
Herramientas y comunidad, como por ejemplo la comunidad que empezó Microsoft.
ES-next compliance
    <br>
    Te da una muestra del futuro de JavaScript, con elementos tipados.
</b></h3>